Basic read and display CSV.json
[{"id":"932c63e7.1df9c","type":"tab","label":"IMU Data Basic Visualization","disabled":false,"info":""},{"id":"89a7e2ed.16a7f","type":"debug","z":"932c63e7.1df9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410.00006103515625,"y":285.00006103515625,"wires":[]},{"id":"4be1e661.8d1488","type":"json","z":"932c63e7.1df9c","name":"","property":"payload","action":"obj","pretty":false,"x":161.16668701171875,"y":277.3333740234375,"wires":[["89a7e2ed.16a7f","73724498.103aac"]]},{"id":"a54feace.6dcef8","type":"inject","z":"932c63e7.1df9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":35,"wires":[["9a0ec6e9.a76ba8"]]},{"id":"9a0ec6e9.a76ba8","type":"file in","z":"932c63e7.1df9c","name":"","filename":"/home/pi/imuData.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":314,"y":81,"wires":[["e2c82deb.485ba"]]},{"id":"8d537164.97321","type":"csv","z":"932c63e7.1df9c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"xVal, yVal, zVal, t","skip":"0","x":359,"y":184,"wires":[["4be1e661.8d1488"]]},{"id":"e2c82deb.485ba","type":"delay","z":"932c63e7.1df9c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":165,"wires":[["8d537164.97321"]]},{"id":"da7ba36b.e7148","type":"ui_chart","z":"932c63e7.1df9c","name":"","group":"dddf891.1c53f78","order":1,"width":"10","height":"10","label":"Dashboard Visualization","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#ea39c2","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":562,"y":370,"wires":[[]]},{"id":"73724498.103aac","type":"function","z":"932c63e7.1df9c","name":"compile_vals","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = msg.payload.xVal;\nmsg1.topic = \"X axis\";\n\nmsg2.payload = msg.payload.yVal;\nmsg2.topic = \"Y axis\";\n\nmsg3.payload = msg.payload.zVal;\nmsg3.topic = \"Z axis\";\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":305,"y":364,"wires":[["da7ba36b.e7148"],["da7ba36b.e7148"],["da7ba36b.e7148"]]},{"id":"ee4a7c8e.99555","type":"ui_button","z":"932c63e7.1df9c","name":"","group":"dddf891.1c53f78","order":1,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":407,"y":453,"wires":[["da7ba36b.e7148"]]},{"id":"dddf891.1c53f78","type":"ui_group","z":"","name":"IMU","tab":"f22a4252.34c1c","order":1,"disp":true,"width":"10","collapse":true},{"id":"f22a4252.34c1c","type":"ui_tab","z":"","name":"IMU Data","icon":"dashboard","order":3,"disabled":true,"hidden":false}]