HET IMU flow.json
[{"id":"8f0c3578.115548","type":"tab","label":"HET IMU","disabled":false,"info":""},{"id":"3b220208.12491e","type":"mqtt in","z":"8f0c3578.115548","name":"","topic":"IMU","qos":"2","datatype":"auto","broker":"f459b32c.86682","x":131,"y":77,"wires":[["530d362c.86a608"]]},{"id":"7dc3cee5.092a2","type":"debug","z":"8f0c3578.115548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":363.00006103515625,"y":253.00006103515625,"wires":[]},{"id":"530d362c.86a608","type":"json","z":"8f0c3578.115548","name":"","property":"payload","action":"obj","pretty":false,"x":152.16668701171875,"y":168.33334350585938,"wires":[["7dc3cee5.092a2","fc57c6f1.ff2f38","33d593b8.06cf6c"]]},{"id":"a3e0091a.b9ed38","type":"function","z":"8f0c3578.115548","name":"compile_vals","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = msg.payload.xVal;\nmsg1.topic = \"X axis\";\n\nmsg2.payload = msg.payload.yVal;\nmsg2.topic = \"Y axis\";\n\nmsg3.payload = msg.payload.zVal;\nmsg3.topic = \"Z axis\";\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":471,"y":175,"wires":[["adcfa2ba.97fc","a711920b.3b553"],["adcfa2ba.97fc","7bd4105b.4e7c1"],["adcfa2ba.97fc","f2727e5d.7cb26"]]},{"id":"adcfa2ba.97fc","type":"ui_chart","z":"8f0c3578.115548","name":"IMU Data","group":"4412a7c8.c9a0d8","order":2,"width":"10","height":"10","label":"Accelerometer","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"200","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2ca02c","#0080ff","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":614,"y":336,"wires":[[],[]]},{"id":"45f73c98.6b28d4","type":"ui_button","z":"8f0c3578.115548","name":"","group":"4412a7c8.c9a0d8","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":434.5,"y":336,"wires":[["adcfa2ba.97fc"]]},{"id":"c1f03053.cfc4b","type":"function","z":"8f0c3578.115548","name":"compileStats","func":"// var msg1 = {};\n// var msg2 = {};\n// var msg3 = {};\n// var msg4 = {};\n\n// msg1.payload = msg.payload[3];\n// msg1.label = \"Mean\"\n\n// msg2.payload = msg.payload[2]\n// msg2.label = \"Max\"\n\n// msg3.payload = msg.payload[1]\n// msg3.label = \"Min\"\n\n// msg4.payload = msg.payload[0]\n// msg4.label = \"Std Dev\"\n\n// return [msg1, msg2, msg3, msg4];\n\nvar radar = [{\n    \"series\": [ \"Stats\"],\n    \"data\":  [ [msg.payload[0], msg.payload[1], msg.payload[2]] ],\n    \"labels\": [ \"X\", \"Y\", \"Z\" ]\n}];\n\nmsg.payload = radar;\nreturn msg;","outputs":1,"noerr":0,"x":1096,"y":317,"wires":[["53c07158.2ac42"]]},{"id":"398f7f7b.d6d39","type":"ui_button","z":"8f0c3578.115548","name":"","group":"2b6dd537.21c5ea","order":10,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1169,"y":101,"wires":[["53c07158.2ac42","2e00e550.1f9e5a","e8fafc69.27179","6c50bb55.e931a4"]]},{"id":"53c07158.2ac42","type":"ui_chart","z":"8f0c3578.115548","name":"RadarStats","group":"2b6dd537.21c5ea","order":1,"width":"10","height":"7","label":"Radar","chartType":"radar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1305,"y":213,"wires":[[],[]]},{"id":"f1a08137.edd3d","type":"join","z":"8f0c3578.115548","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":933,"y":318,"wires":[["c1f03053.cfc4b"]]},{"id":"a711920b.3b553","type":"smooth","z":"8f0c3578.115548","name":"X_AVG","property":"payload","action":"mean","count":"25","round":"2","mult":"single","x":687,"y":122,"wires":[["f1a08137.edd3d","2e00e550.1f9e5a"]]},{"id":"7bd4105b.4e7c1","type":"smooth","z":"8f0c3578.115548","name":"Y_AVG","property":"payload","action":"mean","count":"25","round":"2","mult":"single","x":683,"y":188,"wires":[["f1a08137.edd3d","e8fafc69.27179"]]},{"id":"f2727e5d.7cb26","type":"smooth","z":"8f0c3578.115548","name":"Z_AVG","property":"payload","action":"mean","count":"25","round":"2","mult":"single","x":687,"y":252,"wires":[["f1a08137.edd3d","6c50bb55.e931a4"]]},{"id":"2e00e550.1f9e5a","type":"ui_text","z":"8f0c3578.115548","group":"2b6dd537.21c5ea","order":3,"width":"0","height":"0","name":"","label":"X Axis","format":"{{msg.payload}}","layout":"col-center","x":980,"y":36,"wires":[]},{"id":"e8fafc69.27179","type":"ui_text","z":"8f0c3578.115548","group":"2b6dd537.21c5ea","order":3,"width":"0","height":"0","name":"","label":"Y Axis","format":"{{msg.payload}}","layout":"col-center","x":978,"y":91,"wires":[]},{"id":"6c50bb55.e931a4","type":"ui_text","z":"8f0c3578.115548","group":"2b6dd537.21c5ea","order":3,"width":"0","height":"0","name":"","label":"Z Axis","format":"{{msg.payload}}","layout":"col-center","x":981,"y":147,"wires":[]},{"id":"fc57c6f1.ff2f38","type":"delay","z":"8f0c3578.115548","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":364,"y":86,"wires":[["a3e0091a.b9ed38"]]},{"id":"6cfea9fa.863a18","type":"csv","z":"8f0c3578.115548","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"xVal, yVal, zVal, packet, t","skip":"0","x":151,"y":383,"wires":[["a94ffc74.24666"]]},{"id":"a94ffc74.24666","type":"file","z":"8f0c3578.115548","name":"imuData.csv","filename":"/home/pi/HETData/imuData.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":148,"y":450,"wires":[[]]},{"id":"ff0e4726.336ff8","type":"ui_button","z":"8f0c3578.115548","name":"Clear Data Files","group":"ed002d05.11d06","order":10,"width":0,"height":0,"passthru":false,"label":"Clear Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":397,"y":425,"wires":[["407299b3.f22908","a8b6ae2f.eba77","8c947bca.455fc8"]]},{"id":"407299b3.f22908","type":"file","z":"8f0c3578.115548","name":"Delete imuData.csv","filename":"/home/mlim2/node_output_files/imuData.csv","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":639,"y":452,"wires":[[]]},{"id":"a8b6ae2f.eba77","type":"file","z":"8f0c3578.115548","name":"Delete tegData.csv","filename":"/home/mlim2/node_output_files/tegData.csv","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":636,"y":503,"wires":[[]]},{"id":"8c947bca.455fc8","type":"file","z":"8f0c3578.115548","name":"Delete rhtData.csv","filename":"/home/mlim2/node_output_files/rhtData.csv","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":631,"y":559,"wires":[[]]},{"id":"6c5255a6.26e7bc","type":"change","z":"8f0c3578.115548","name":"","rules":[{"t":"set","p":"payload.t","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":148.5,"y":309,"wires":[["6cfea9fa.863a18"]]},{"id":"33d593b8.06cf6c","type":"rbe","z":"8f0c3578.115548","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":153.5,"y":238,"wires":[["6c5255a6.26e7bc"]]},{"id":"f459b32c.86682","type":"mqtt-broker","z":"","name":"ASSISTNode","broker":"10.153.55.212","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4412a7c8.c9a0d8","type":"ui_group","z":"","name":"IMU Reading","tab":"36297ff3.75b5c","order":4,"disp":true,"width":"10","collapse":true},{"id":"2b6dd537.21c5ea","type":"ui_group","z":"","name":"IMU Stats 25 Readings","tab":"36297ff3.75b5c","order":5,"disp":true,"width":"10","collapse":true},{"id":"ed002d05.11d06","type":"ui_group","z":"","name":"ClearDataFiles","tab":"36297ff3.75b5c","order":7,"disp":true,"width":"5","collapse":false},{"id":"36297ff3.75b5c","type":"ui_tab","z":"","name":"ASSIST TEG Demo","icon":"dashboard","disabled":false,"hidden":false}]