HET RHT flow.json
[{"id":"7ad37b52.1b7a44","type":"tab","label":"HET RHT","disabled":false,"info":""},{"id":"1590c1fb.93738e","type":"mqtt in","z":"7ad37b52.1b7a44","name":"","topic":"RHT","qos":"2","broker":"f459b32c.86682","x":161,"y":158,"wires":[["f6709496.b6db08"]]},{"id":"f6709496.b6db08","type":"json","z":"7ad37b52.1b7a44","name":"","property":"payload","action":"obj","pretty":false,"x":243.16668701171875,"y":267.3333435058594,"wires":[["c833781e.a709b8","60c8811a.c4a7d","343315d7.aaa34a"]]},{"id":"c833781e.a709b8","type":"function","z":"7ad37b52.1b7a44","name":"compile_vals","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = msg.payload.temp;\nmsg1.topic = \"temp\";\n\nmsg2.payload = msg.payload.RH;\nmsg2.topic = \"RH\";\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":426,"y":259,"wires":[["524edfc0.6c6ba","a7471602.b5bee8"],["bf94904c.1360f","a7471602.b5bee8"]]},{"id":"524edfc0.6c6ba","type":"ui_text","z":"7ad37b52.1b7a44","group":"badc20f9.a89b6","order":3,"width":"5","height":"1","name":"","label":"Temperature (C)","format":"{{msg.payload}}","layout":"row-left","x":626,"y":211,"wires":[]},{"id":"bf94904c.1360f","type":"ui_text","z":"7ad37b52.1b7a44","group":"badc20f9.a89b6","order":3,"width":"5","height":"1","name":"","label":"Relative Humidity (%)","format":"{{msg.payload}}","layout":"row-left","x":642,"y":272,"wires":[]},{"id":"60c8811a.c4a7d","type":"debug","z":"7ad37b52.1b7a44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":369,"y":140,"wires":[]},{"id":"343315d7.aaa34a","type":"csv","z":"7ad37b52.1b7a44","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"temp, RH","skip":"0","x":140,"y":352,"wires":[["5c4fa012.0bedb"]]},{"id":"5c4fa012.0bedb","type":"file","z":"7ad37b52.1b7a44","name":"rhtData.csv","filename":"/home/pi/HETData/rhtData.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":304,"y":352,"wires":[[]]},{"id":"2afdbdf5.211f02","type":"ui_button","z":"7ad37b52.1b7a44","name":"","group":"badc20f9.a89b6","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":725.5,"y":334,"wires":[["a7471602.b5bee8"]]},{"id":"a7471602.b5bee8","type":"ui_chart","z":"7ad37b52.1b7a44","name":"Temp/RH vs Time","group":"badc20f9.a89b6","order":2,"width":"10","height":"9","label":"Temp/RH vs Time","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#98df8a","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":776,"y":424,"wires":[[],[]]},{"id":"f459b32c.86682","type":"mqtt-broker","z":"","name":"ASSISTNode","broker":"10.153.55.212","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"badc20f9.a89b6","type":"ui_group","z":"","name":"RHT","tab":"36297ff3.75b5c","order":6,"disp":true,"width":"10","collapse":true},{"id":"36297ff3.75b5c","type":"ui_tab","z":"","name":"ASSIST TEG Demo","icon":"dashboard","disabled":false,"hidden":false}]