HET ECG flow.json
[{"id":"b2a6032b.1b34f","type":"tab","label":"HET ECG","disabled":false,"info":""},{"id":"8bd1c20d.4a8c5","type":"mqtt in","z":"b2a6032b.1b34f","name":"","topic":"ECG","qos":"0","broker":"f459b32c.86682","x":110,"y":60,"wires":[["dbfd4fee.fb1dc"]]},{"id":"dbfd4fee.fb1dc","type":"json","z":"b2a6032b.1b34f","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":280,"wires":[["3eae20d0.26f0e"]]},{"id":"59ddde14.8919c","type":"function","z":"b2a6032b.1b34f","name":"compile_vals","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = msg.payload.ecg;\nmsg1.topic = \"ecg\";\n\nmsg2.payload = msg.payload.RR;\nmsg2.topic = \"RR\";\n\nmsg3.payload = msg.payload.HR;\nmsg3.topic = \"HR\";\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":550,"y":260,"wires":[["5794e3ac.10d1bc","10a5d89f.6998c7"],["e74264b7.cb26f8"],["be5ea758.bc99f8"]]},{"id":"5794e3ac.10d1bc","type":"ui_text","z":"b2a6032b.1b34f","group":"ac063e68.43d8d","order":2,"width":"5","height":"1","name":"","label":"ECG","format":"{{msg.payload}}","layout":"row-left","x":850,"y":160,"wires":[]},{"id":"edd0c02.199004","type":"debug","z":"b2a6032b.1b34f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":100,"wires":[]},{"id":"5145e410.c7084c","type":"ui_button","z":"b2a6032b.1b34f","name":"","group":"ac063e68.43d8d","order":5,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":810,"y":520,"wires":[["10a5d89f.6998c7"]]},{"id":"10a5d89f.6998c7","type":"ui_chart","z":"b2a6032b.1b34f","name":"ECG Readings","group":"ac063e68.43d8d","order":1,"width":"10","height":"9","label":"ECG Readings","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#2ca02c","#98df8a","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":826,"y":434,"wires":[[],[]]},{"id":"98b941b3.1a025","type":"ui_text","z":"b2a6032b.1b34f","group":"ac063e68.43d8d","order":3,"width":"5","height":"1","name":"","label":"R-R (5s Avg)","format":"{{msg.payload}}","layout":"row-left","x":950,"y":240,"wires":[]},{"id":"cfbeb68f.751858","type":"ui_text","z":"b2a6032b.1b34f","group":"ac063e68.43d8d","order":4,"width":"5","height":"1","name":"","label":"HR (5s Avg)","format":"{{msg.payload}}","layout":"row-left","x":950,"y":300,"wires":[]},{"id":"e74264b7.cb26f8","type":"smooth","z":"b2a6032b.1b34f","name":"5s Mean","property":"payload","action":"mean","count":"300","round":"2","mult":"single","x":740,"y":240,"wires":[["98b941b3.1a025"]]},{"id":"be5ea758.bc99f8","type":"smooth","z":"b2a6032b.1b34f","name":"5s Mean","property":"payload","action":"mean","count":"300","round":"2","mult":"single","x":740,"y":300,"wires":[["cfbeb68f.751858"]]},{"id":"3eae20d0.26f0e","type":"delay","z":"b2a6032b.1b34f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"60","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":280,"wires":[["59ddde14.8919c","edd0c02.199004"]]},{"id":"f459b32c.86682","type":"mqtt-broker","z":"","name":"ASSISTNode","broker":"10.153.55.212","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac063e68.43d8d","type":"ui_group","z":"","name":"ECG","tab":"252dbee6.be03f2","disp":true,"width":"10","collapse":false},{"id":"252dbee6.be03f2","type":"ui_tab","z":"","name":"ECG Reading","icon":"dashboard","disabled":true,"hidden":false}]