HET TEG flow.json
[{"id":"88a88fd.ec6467","type":"tab","label":"HET TEG","disabled":false,"info":""},{"id":"45c63b9a.963904","type":"inject","z":"88a88fd.ec6467","name":"sample","topic":"sensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":319,"wires":[["2fba258d.c4eeda","4aa27e41.7cf48"]]},{"id":"2fba258d.c4eeda","type":"function","z":"88a88fd.ec6467","name":"random_int","func":"val = Math.floor((Math.random()) * 100) + 1  ;\nval = Math.floor((val/((Math.random() * 100 + 1))) * 100 + 1);\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":457,"wires":[[]]},{"id":"2b0e0c83.b94134","type":"smooth","z":"88a88fd.ec6467","name":"Mean","property":"payload","action":"mean","count":"50","round":"2","mult":"single","x":611,"y":415,"wires":[["9074f383.3381d","463beb01.2896a4","7d6fc48d.71cedc"]]},{"id":"2bfc8e5f.654d72","type":"smooth","z":"88a88fd.ec6467","name":"Max","property":"payload","action":"max","count":"50","round":"2","mult":"single","x":604,"y":463,"wires":[["d579fe6a.ab268","7d6fc48d.71cedc"]]},{"id":"1aa3fa35.884d36","type":"smooth","z":"88a88fd.ec6467","name":"Min","property":"payload","action":"min","count":"50","round":"2","mult":"single","x":605,"y":538,"wires":[["eeb16d57.89d2a","7d6fc48d.71cedc"]]},{"id":"5bb87ed6.726ba","type":"file","z":"88a88fd.ec6467","name":"","filename":"\\home\\mztrmikachu\\vals.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1184,"y":943,"wires":[[]]},{"id":"9db49fb9.c0c2e","type":"function","z":"88a88fd.ec6467","name":"compile_vals","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = msg.payload[0];\nmsg1.topic = \"TEG Output (mV)\"\n\nmsg2.payload = msg.payload[1]\nmsg2.topic = \"Average (mV)\"\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":1287,"y":272,"wires":[["63ab5415.9aa94c"],["63ab5415.9aa94c"]]},{"id":"463beb01.2896a4","type":"join","z":"88a88fd.ec6467","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":607,"y":283,"wires":[["9db49fb9.c0c2e"]]},{"id":"7d23ad4d.dc4494","type":"smooth","z":"88a88fd.ec6467","name":"Std Dev","property":"payload","action":"sd","count":"50","round":"2","mult":"single","x":610,"y":624,"wires":[["faeac982.49a3f8","7d6fc48d.71cedc"]]},{"id":"7d6fc48d.71cedc","type":"join","z":"88a88fd.ec6467","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":787,"wires":[["17ae4430.acad5c"]]},{"id":"17ae4430.acad5c","type":"function","z":"88a88fd.ec6467","name":"compileStats","func":"// var msg1 = {};\n// var msg2 = {};\n// var msg3 = {};\n// var msg4 = {};\n\n// msg1.payload = msg.payload[3];\n// msg1.label = \"Mean\"\n\n// msg2.payload = msg.payload[2]\n// msg2.label = \"Max\"\n\n// msg3.payload = msg.payload[1]\n// msg3.label = \"Min\"\n\n// msg4.payload = msg.payload[0]\n// msg4.label = \"Std Dev\"\n\n// return [msg1, msg2, msg3, msg4];\n\nvar radar = [{\n    \"series\": [ \"Stats\"],\n    \"data\":  [ [msg.payload[0], msg.payload[1], msg.payload[2], msg.payload[3]] ],\n    \"labels\": [ \"Avg\", \"Max\", \"Min\", \"Std Dev\" ]\n}];\n\nmsg.payload = radar;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":789,"wires":[["dbfcd056.f7016"]]},{"id":"4aa27e41.7cf48","type":"random","z":"88a88fd.ec6467","name":"","low":"1","high":"500","inte":"true","property":"payload","x":300,"y":113,"wires":[[]]},{"id":"9815438a.9a99a","type":"ui_button","z":"88a88fd.ec6467","name":"","group":"670d509b.738a6","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1536.5,"y":217,"wires":[["63ab5415.9aa94c"]]},{"id":"21580de8.bd5a92","type":"ui_button","z":"88a88fd.ec6467","name":"","group":"eb2ac150.f7e31","order":10,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1520,"y":729,"wires":[["dbfcd056.f7016","34a2bdd4.bf6882"]]},{"id":"704d2d92.903174","type":"ui_button","z":"88a88fd.ec6467","name":"","group":"24563681.44728a","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":490,"y":60,"wires":[["933e830f.371d1"]]},{"id":"9074f383.3381d","type":"ui_text","z":"88a88fd.ec6467","group":"eb2ac150.f7e31","order":2,"width":"0","height":"0","name":"","label":"Average Voltage (mV)","format":"{{msg.payload}}","layout":"col-center","x":1297,"y":379,"wires":[]},{"id":"d579fe6a.ab268","type":"ui_text","z":"88a88fd.ec6467","group":"eb2ac150.f7e31","order":3,"width":"0","height":"0","name":"","label":"Max Voltage (mV)","format":"{{msg.payload}}","layout":"col-center","x":1283,"y":451,"wires":[]},{"id":"eeb16d57.89d2a","type":"ui_text","z":"88a88fd.ec6467","group":"eb2ac150.f7e31","order":4,"width":"0","height":"0","name":"","label":"Min Voltage (mV)","format":"{{msg.payload}}","layout":"col-center","x":1279,"y":542,"wires":[]},{"id":"faeac982.49a3f8","type":"ui_text","z":"88a88fd.ec6467","group":"eb2ac150.f7e31","order":5,"width":"0","height":"0","name":"","label":"Standard Deviation (mV)","format":"{{msg.payload}}","layout":"col-center","x":1300,"y":619,"wires":[]},{"id":"933e830f.371d1","type":"ui_gauge","z":"88a88fd.ec6467","name":"","group":"24563681.44728a","order":2,"width":"10","height":"10","gtype":"gage","title":"Last Reading","label":"mV","format":"{{value}}","min":0,"max":"1200","colors":["#d50000","#e6e600","#5c943a"],"seg1":"","seg2":"","x":510,"y":120,"wires":[]},{"id":"63ab5415.9aa94c","type":"ui_chart","z":"88a88fd.ec6467","name":"mV vs T","group":"670d509b.738a6","order":2,"width":"10","height":"10","label":"mV vs Time","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#98df8a","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1673,"y":259,"wires":[[],[]]},{"id":"dbfcd056.f7016","type":"ui_chart","z":"88a88fd.ec6467","name":"RadarStats","group":"eb2ac150.f7e31","order":1,"width":"0","height":"0","label":"Radar","chartType":"radar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1679,"y":787,"wires":[[],[]]},{"id":"d17ec0d2.80b25","type":"mqtt in","z":"88a88fd.ec6467","name":"","topic":"TEGVoltage","qos":"2","broker":"f459b32c.86682","x":277,"y":227,"wires":[["c26160e.3be1da","933e830f.371d1","463beb01.2896a4","2b0e0c83.b94134","2bfc8e5f.654d72","1aa3fa35.884d36","7d23ad4d.dc4494","66e5df8b.4ae19"]]},{"id":"c26160e.3be1da","type":"debug","z":"88a88fd.ec6467","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":634,"y":201,"wires":[]},{"id":"34a2bdd4.bf6882","type":"function","z":"88a88fd.ec6467","name":"resetStats","func":"msg.reset=\"reset\";\n// msg2.reset=\"rest\";\n// msg.payload=\"\";\n// msg2.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":600,"wires":[["7d23ad4d.dc4494","1aa3fa35.884d36","2bfc8e5f.654d72","2b0e0c83.b94134","463beb01.2896a4"]]},{"id":"af2919f.7c5b2e8","type":"file","z":"88a88fd.ec6467","name":"tegData.csv","filename":"/home/pi/HETData/tegData.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":834,"y":151,"wires":[[]]},{"id":"66e5df8b.4ae19","type":"csv","z":"88a88fd.ec6467","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"voltage (mV)","skip":"0","x":660,"y":150,"wires":[["af2919f.7c5b2e8"]]},{"id":"670d509b.738a6","type":"ui_group","z":"","name":"TEG Voltage Reading - 50 readings","tab":"36297ff3.75b5c","order":2,"disp":true,"width":"10","collapse":true},{"id":"eb2ac150.f7e31","type":"ui_group","z":"","name":"Stats - 50 readings","tab":"36297ff3.75b5c","order":3,"disp":true,"width":"10","collapse":true},{"id":"24563681.44728a","type":"ui_group","z":"","name":"Instantaneous","tab":"36297ff3.75b5c","order":1,"disp":true,"width":"10","collapse":true},{"id":"f459b32c.86682","type":"mqtt-broker","z":"","name":"ASSISTNode","broker":"10.153.55.212","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36297ff3.75b5c","type":"ui_tab","z":"","name":"ASSIST TEG Demo","icon":"dashboard","disabled":false,"hidden":false}]