Machine Learning Example flow.json
[{"id":"6b4630fc.e25bf","type":"tab","label":"Machine Learning Example","disabled":false,"info":""},{"id":"53a77508.ad3d2c","type":"create dataset","z":"6b4630fc.e25bf","name":"","path":"/home/pi/.node-red/node_modules/node-red-contrib-machine-learning/test/iris.data","saveFolder":"/home/pi/test","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":341,"y":68,"wires":[["de5d9d8b.6afbb"]]},{"id":"90fb36d.ac8ddc8","type":"load dataset","z":"6b4630fc.e25bf","name":"","datasetFolder":"/home/pi/test","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":291,"y":188,"wires":[["4775ad16.3be894"],["efdd16b7.ef48c8"]]},{"id":"eb0cad63.5d7ff","type":"inject","z":"6b4630fc.e25bf","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":68,"wires":[["53a77508.ad3d2c"]]},{"id":"71967f27.b889a","type":"inject","z":"6b4630fc.e25bf","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":188,"wires":[["90fb36d.ac8ddc8"]]},{"id":"6a6f43e2.814a9c","type":"inject","z":"6b4630fc.e25bf","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":428,"wires":[["9542431c.6ad3a","9b6e9ca4.9b363"]]},{"id":"de5d9d8b.6afbb","type":"debug","z":"6b4630fc.e25bf","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":571,"y":68,"wires":[]},{"id":"efdd16b7.ef48c8","type":"debug","z":"6b4630fc.e25bf","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":771,"y":228,"wires":[]},{"id":"7063fe84.56768","type":"debug","z":"6b4630fc.e25bf","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":751,"y":148,"wires":[]},{"id":"bdd79a45.14a3c8","type":"predictor","z":"6b4630fc.e25bf","name":"decision tree classifier predictor","modelPath":"/home/pi/test","modelName":"dtc.b","x":551,"y":408,"wires":[["5c37e94d.cf0ec8"],["dc10f1a4.9c416"]]},{"id":"4775ad16.3be894","type":"decision tree classifier","z":"6b4630fc.e25bf","name":"decision tree classifier trainer","savePath":"/home/pi/test","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":541,"y":188,"wires":[["7063fe84.56768"],["efdd16b7.ef48c8"]]},{"id":"5c37e94d.cf0ec8","type":"assessment","z":"6b4630fc.e25bf","name":"","score":"accuracy_score","x":591,"y":348,"wires":[["b79749e2.1a7788"],["dc10f1a4.9c416"]]},{"id":"9542431c.6ad3a","type":"load dataset","z":"6b4630fc.e25bf","name":"","datasetFolder":"/home/pi/test","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":291,"y":348,"wires":[["5c37e94d.cf0ec8"],["dc10f1a4.9c416"]]},{"id":"9b6e9ca4.9b363","type":"load dataset","z":"6b4630fc.e25bf","name":"","datasetFolder":"/home/pi/test","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":291,"y":468,"wires":[["bdd79a45.14a3c8"],["dc10f1a4.9c416"]]},{"id":"dc10f1a4.9c416","type":"debug","z":"6b4630fc.e25bf","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":791,"y":468,"wires":[]},{"id":"b79749e2.1a7788","type":"debug","z":"6b4630fc.e25bf","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":791,"y":348,"wires":[]}]