Read and display MetaMotion IMU data.json
[{"id":"40017f42.c701d","type":"tab","label":"Metamotion Visualization","disabled":false,"info":""},{"id":"66caa2ad.c0efac","type":"json","z":"40017f42.c701d","name":"","property":"payload","action":"obj","pretty":false,"x":165.16668701171875,"y":292.3333740234375,"wires":[["8049a677.6caab8"]]},{"id":"8df6cd98.58537","type":"inject","z":"40017f42.c701d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117,"y":50,"wires":[["81d51ad6.502b88","a64229b7.35c7e8","302ecaa3.76a5c6"]]},{"id":"81d51ad6.502b88","type":"file in","z":"40017f42.c701d","name":"","filename":"/home/pi/metamotion_acceleration.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":371,"y":128,"wires":[["c293fee7.97294"]]},{"id":"d5a58bb3.370ff8","type":"csv","z":"40017f42.c701d","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"t, xVal, yVal, zVal","skip":"0","x":491,"y":188,"wires":[["66caa2ad.c0efac"]]},{"id":"6e9a0a76.66c824","type":"ui_chart","z":"40017f42.c701d","name":"","group":"b1923606.2b9f98","order":1,"width":"10","height":"7","label":"Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#ea39c2","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":831,"y":588,"wires":[[]]},{"id":"8049a677.6caab8","type":"function","z":"40017f42.c701d","name":"compile_vals","func":"var msg_arr = flow.get([\"msg1\", \"msg2\", \"msg3\", \"time\"]);\nmsg_arr[0].payload = msg.payload.xVal;\nmsg_arr[1].payload = msg.payload.yVal;\nmsg_arr[2].payload = msg.payload.zVal;\nmsg_arr[3].payload = msg.payload.t;\n\nreturn [msg_arr[0], msg_arr[1], msg_arr[2], msg_arr[3]];","outputs":4,"noerr":0,"x":309,"y":379,"wires":[["6c38457a.d96a3c","6a4b7b6b.c7cb54"],["7de6a044.621c7","55e295fb.1ea56c"],["a2f05b66.ba7cf8","67dbf8b1.7c37c8"],["9ed52d6f.3b195"]]},{"id":"e134361f.eea668","type":"ui_button","z":"40017f42.c701d","name":"","group":"b1923606.2b9f98","order":4,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":131,"y":508,"wires":[["6e9a0a76.66c824","2cd253f8.b3a54c"]]},{"id":"302ecaa3.76a5c6","type":"function","z":"40017f42.c701d","name":"Declarations","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar time = {};\n\nmsg1.topic = \"X axis\";\nmsg2.topic = \"Y axis\";\nmsg3.topic = \"Z axis\";\ntime.topic = \"Time\"\n\n//flow.set(\"msg1\", msg1);\n//flow.set(\"msg2\", msg2);\n//flow.set(\"msg3\", msg3);\n\nflow.set([\"msg1\", \"msg2\", \"msg3\", \"time\"], [msg1, msg2, msg3, time]);\nflow.set([\"oldtime\", \"newtime\"], [0,0]);\n\nreturn;","outputs":1,"noerr":0,"x":111,"y":208,"wires":[[]]},{"id":"6c38457a.d96a3c","type":"ui_text","z":"40017f42.c701d","group":"b1923606.2b9f98","order":6,"width":0,"height":0,"name":"","label":"X","format":"{{msg.payload}}","layout":"row-spread","x":751,"y":188,"wires":[]},{"id":"7de6a044.621c7","type":"ui_text","z":"40017f42.c701d","group":"b1923606.2b9f98","order":7,"width":0,"height":0,"name":"","label":"Y","format":"{{msg.payload}}","layout":"row-spread","x":751,"y":228,"wires":[]},{"id":"a2f05b66.ba7cf8","type":"ui_text","z":"40017f42.c701d","group":"b1923606.2b9f98","order":8,"width":0,"height":0,"name":"","label":"Z","format":"{{msg.payload}}","layout":"row-spread","x":751,"y":268,"wires":[]},{"id":"7164895d.72d728","type":"json","z":"40017f42.c701d","name":"","property":"payload","action":"obj","pretty":false,"x":971,"y":328,"wires":[["2f13ba7a.c77876"]]},{"id":"9d183a9d.7beaa8","type":"file in","z":"40017f42.c701d","name":"","filename":"C:\\nodered\\imuData_2.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":1143.8333129882812,"y":131.6666259765625,"wires":[["4ecb066a.0988c8"]]},{"id":"e77f2816.205c68","type":"csv","z":"40017f42.c701d","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"xVal, yVal, zVal, t, step","skip":"0","x":1316.8333129882812,"y":223.6666259765625,"wires":[["7164895d.72d728"]]},{"id":"4ecb066a.0988c8","type":"delay","z":"40017f42.c701d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"110","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1101,"y":228,"wires":[["e77f2816.205c68"]]},{"id":"5d23f3e9.d1eebc","type":"ui_chart","z":"40017f42.c701d","name":"","group":"10960ea5.e28d91","order":1,"width":"10","height":"7","label":"Dashboard Visualization","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"10","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#ea39c2","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":817,"y":791,"wires":[[]]},{"id":"2f13ba7a.c77876","type":"function","z":"40017f42.c701d","name":"compile_vals","func":"var msg_arr = flow.get([\"msg1_2\", \"msg2_2\", \"msg3_2\", \"msg4_2\"]);\nmsg_arr[0].payload = msg.payload.xVal;\nmsg_arr[1].payload = msg.payload.yVal;\nmsg_arr[2].payload = msg.payload.zVal;\nmsg_arr[3].payload = msg.payload.step;\n\nreturn [msg_arr[0], msg_arr[1], msg_arr[2], msg_arr[3]];","outputs":4,"noerr":0,"x":1114.8333129882812,"y":414.6666259765625,"wires":[["4d545b73.05ecc4","61bda077.fbea4"],["a6493e9b.182a4","723cb33d.e5801c"],["716b3d35.7aefb4","6706a4e9.a8764c"],["1d41e13c.bd94bf"]]},{"id":"523fa840.cd71d8","type":"ui_button","z":"40017f42.c701d","name":"","group":"10960ea5.e28d91","order":2,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1216.8333129882812,"y":503.6666259765625,"wires":[["5d23f3e9.d1eebc","ac7e99e3.e33548"]]},{"id":"a64229b7.35c7e8","type":"function","z":"40017f42.c701d","name":"Declarations","func":"var msg1_2 = {};\nvar msg2_2 = {};\nvar msg3_2 = {};\nvar msg4_2 = {};\n\nmsg1_2.topic = \"X axis\";\nmsg2_2.topic = \"Y axis\";\nmsg3_2.topic = \"Z axis\";\nmsg4_2.topic = \"step\";\n\n//flow.set(\"msg1\", msg1);\n//flow.set(\"msg2\", msg2);\n//flow.set(\"msg3\", msg3);\n\nflow.set([\"msg1_2\", \"msg2_2\", \"msg3_2\", \"msg4_2\"], [msg1_2, msg2_2, msg3_2, msg4_2]);\n\nreturn;","outputs":1,"noerr":0,"x":911,"y":128,"wires":[[]]},{"id":"4d545b73.05ecc4","type":"ui_text","z":"40017f42.c701d","group":"10960ea5.e28d91","order":6,"width":0,"height":0,"name":"","label":"X","format":"{{msg.payload}}","layout":"row-spread","x":1551,"y":128,"wires":[]},{"id":"a6493e9b.182a4","type":"ui_text","z":"40017f42.c701d","group":"10960ea5.e28d91","order":7,"width":0,"height":0,"name":"","label":"Y","format":"{{msg.payload}}","layout":"row-spread","x":1551,"y":168,"wires":[]},{"id":"716b3d35.7aefb4","type":"ui_text","z":"40017f42.c701d","group":"10960ea5.e28d91","order":8,"width":0,"height":0,"name":"","label":"Z","format":"{{msg.payload}}","layout":"row-spread","x":1551,"y":208,"wires":[]},{"id":"2cd253f8.b3a54c","type":"ui_chart","z":"40017f42.c701d","name":"","group":"b1923606.2b9f98","order":5,"width":"6","height":"6","label":"XYZ Chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":851,"y":548,"wires":[[]]},{"id":"ac7e99e3.e33548","type":"ui_chart","z":"40017f42.c701d","name":"","group":"10960ea5.e28d91","order":5,"width":"6","height":"6","label":"X chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1841,"y":388,"wires":[[]]},{"id":"1d41e13c.bd94bf","type":"ui_text","z":"40017f42.c701d","group":"10960ea5.e28d91","order":9,"width":0,"height":0,"name":"","label":"Step","format":"{{msg.payload}}","layout":"row-spread","x":1551,"y":248,"wires":[]},{"id":"c293fee7.97294","type":"delay","z":"40017f42.c701d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":301,"y":188,"wires":[["d5a58bb3.370ff8"]]},{"id":"6a4b7b6b.c7cb54","type":"rbe","z":"40017f42.c701d","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":291,"y":548,"wires":[["9532954e.828f68"]]},{"id":"55e295fb.1ea56c","type":"rbe","z":"40017f42.c701d","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":291,"y":588,"wires":[["67c2052a.ee60fc"]]},{"id":"67dbf8b1.7c37c8","type":"rbe","z":"40017f42.c701d","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":291,"y":628,"wires":[["d85f5855.870348"]]},{"id":"9532954e.828f68","type":"join","z":"40017f42.c701d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":411,"y":548,"wires":[["e00168bf.58d308"]]},{"id":"67c2052a.ee60fc","type":"join","z":"40017f42.c701d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":411,"y":588,"wires":[["d739e5de.f85858"]]},{"id":"d85f5855.870348","type":"join","z":"40017f42.c701d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":411,"y":628,"wires":[["8d2abb74.9730b8"]]},{"id":"e00168bf.58d308","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\"]);\nvar msg_arr = msg.payload;\n\nfor ( var i = 0; i < msg_arr.length; i ++){\n    var avg = (msg_arr[i] / msg_arr.length) * msg_arr.length\n}\n\nmsg_arr_2[0].payload = avg;\n\nreturn [msg_arr_2[0]];","outputs":1,"noerr":0,"x":561,"y":548,"wires":[["2cd253f8.b3a54c","6e9a0a76.66c824"]]},{"id":"d739e5de.f85858","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\"]);\nvar msg_arr = msg.payload;\n\nfor ( var i = 0; i < msg_arr.length; i ++){\n    var avg = (msg_arr[i] / msg_arr.length) * msg_arr.length\n}\n\nmsg_arr_2[1].payload = avg;\n\nreturn [msg_arr_2[1]];","outputs":1,"noerr":0,"x":561,"y":588,"wires":[["2cd253f8.b3a54c","6e9a0a76.66c824"]]},{"id":"8d2abb74.9730b8","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\"]);\nvar msg_arr = msg.payload;\n\nfor ( var i = 0; i < msg_arr.length; i ++){\n    var avg = (msg_arr[i] / msg_arr.length) * msg_arr.length\n}\n\nmsg_arr_2[2].payload = avg;\n\nreturn [msg_arr_2[2]];","outputs":1,"noerr":0,"x":561,"y":628,"wires":[["2cd253f8.b3a54c","6e9a0a76.66c824"]]},{"id":"61bda077.fbea4","type":"rbe","z":"40017f42.c701d","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":1371,"y":388,"wires":[["e8617dfa.ce5fd"]]},{"id":"723cb33d.e5801c","type":"rbe","z":"40017f42.c701d","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":1371,"y":428,"wires":[["3abd496c.7af296"]]},{"id":"6706a4e9.a8764c","type":"rbe","z":"40017f42.c701d","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":1371,"y":468,"wires":[["2103ffe8.9e402"]]},{"id":"e8617dfa.ce5fd","type":"join","z":"40017f42.c701d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1491,"y":388,"wires":[["d94ae786.0f6ec8"]]},{"id":"3abd496c.7af296","type":"join","z":"40017f42.c701d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1491,"y":428,"wires":[["cac29a65.4d3988"]]},{"id":"2103ffe8.9e402","type":"join","z":"40017f42.c701d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1491,"y":468,"wires":[["15f1000d.dcf73"]]},{"id":"d94ae786.0f6ec8","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\"]);\nvar msg_arr = msg.payload;\n\nfor ( var i = 0; i < msg_arr.length; i ++){\n    var avg = (msg_arr[i] / msg_arr.length) * msg_arr.length\n}\n\nmsg_arr_2[0].payload = avg;\n\nreturn [msg_arr_2[0]];","outputs":1,"noerr":0,"x":1641,"y":388,"wires":[["ac7e99e3.e33548","5d23f3e9.d1eebc"]]},{"id":"cac29a65.4d3988","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\"]);\nvar msg_arr = msg.payload;\n\nfor ( var i = 0; i < msg_arr.length; i ++){\n    var avg = (msg_arr[i] / msg_arr.length) * msg_arr.length\n}\n\nmsg_arr_2[1].payload = avg;\n\nreturn [msg_arr_2[1]];","outputs":1,"noerr":0,"x":1641,"y":428,"wires":[["ac7e99e3.e33548","5d23f3e9.d1eebc"]]},{"id":"15f1000d.dcf73","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\"]);\nvar msg_arr = msg.payload;\n\nfor ( var i = 0; i < msg_arr.length; i ++){\n    var avg = (msg_arr[i] / msg_arr.length) * msg_arr.length\n}\n\nmsg_arr_2[2].payload = avg;\n\nreturn [msg_arr_2[2]];","outputs":1,"noerr":0,"x":1641,"y":468,"wires":[["ac7e99e3.e33548","5d23f3e9.d1eebc"]]},{"id":"8eab22a3.a3038","type":"ui_slider","z":"40017f42.c701d","name":"","label":"Y axis range","tooltip":"","group":"b1923606.2b9f98","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"2000","step":1,"x":611,"y":428,"wires":[["ac6f206e.be2f7","d6a85832.d37a18"]]},{"id":"ac6f206e.be2f7","type":"function","z":"40017f42.c701d","name":"","func":"var ymin = {};\nvar ymax = {};\n\nflow.set(\"ymin\", (msg.payload * -1));\nflow.set(\"ymax\", msg.payload);\n\nreturn {payload : msg};","outputs":1,"noerr":0,"x":871,"y":428,"wires":[["63920e83.48a7f"]]},{"id":"63920e83.48a7f","type":"template","z":"40017f42.c701d","name":"","field":"ui_control","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"ymin\":{{flow.ymin}},\"ymax\":{{flow.ymax}}}\n","output":"json","x":841,"y":468,"wires":[["6e9a0a76.66c824","2cd253f8.b3a54c"]]},{"id":"d6a85832.d37a18","type":"ui_text","z":"40017f42.c701d","group":"b1923606.2b9f98","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":711,"y":468,"wires":[]},{"id":"30610d0b.85a112","type":"comment","z":"40017f42.c701d","name":"Connect if you want 2 graphs running","info":"","x":1031,"y":68,"wires":[]},{"id":"19d8c3ff.09f28c","type":"comment","z":"40017f42.c701d","name":"Y axis slider","info":"","x":811,"y":368,"wires":[]},{"id":"9ed52d6f.3b195","type":"rbe","z":"40017f42.c701d","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":291,"y":688,"wires":[["8d23d614.cfd268"]]},{"id":"8d23d614.cfd268","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\", \"time\"]);\nvar msg_arr = msg.payload;\nvar timedif;\n\nmsg_arr_2[3].payload = msg.payload;\nflow.set(\"newtime\", msg_arr_2[3].payload);\nvar newtime = flow.get(\"newtime\");\nvar oldtime = flow.get(\"oldtime\");\nflow.set(\"oldtime\", msg_arr_2[3].payload)\nreturn { payload : (newtime - oldtime) };","outputs":1,"noerr":0,"x":561,"y":688,"wires":[["47f7eca8.ba4424","5954c6ee.0de638"]]},{"id":"47f7eca8.ba4424","type":"ui_text","z":"40017f42.c701d","group":"10960ea5.e28d91","order":3,"width":0,"height":0,"name":"","label":"Latency","format":"{{msg.payload}}","layout":"row-spread","x":763,"y":689,"wires":[]},{"id":"85b1b69f.4620f8","type":"ui_text","z":"40017f42.c701d","group":"10960ea5.e28d91","order":4,"width":0,"height":0,"name":"","label":"Hz","format":"{{msg.payload}}","layout":"row-spread","x":635,"y":871,"wires":[]},{"id":"5954c6ee.0de638","type":"function","z":"40017f42.c701d","name":"Hz","func":"var Hz = 1/msg.payload;\nreturn { payload : Hz };","outputs":1,"noerr":0,"x":412,"y":793,"wires":[["3f847b7b.ece494"]]},{"id":"3f847b7b.ece494","type":"join","z":"40017f42.c701d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":539,"y":799,"wires":[["135994eb.feda9b"]]},{"id":"135994eb.feda9b","type":"function","z":"40017f42.c701d","name":"Calc Average","func":"var msg_arr_2 = flow.get([\"msg1\", \"msg2\", \"msg3\", \"time\"]);\nvar msg_arr = msg.payload;\n\nfor ( var i = 0; i < msg_arr.length; i ++){\n    var avg = (msg_arr[i] / msg_arr.length) * msg_arr.length\n}\n\nmsg_arr_2[3].payload = avg;\n\nreturn [msg_arr_2[3]];","outputs":1,"noerr":0,"x":433,"y":871,"wires":[["85b1b69f.4620f8","5d23f3e9.d1eebc"]]},{"id":"b1923606.2b9f98","type":"ui_group","z":"","name":"IMU","tab":"20cf6904.7532d6","order":1,"disp":true,"width":"10","collapse":true},{"id":"10960ea5.e28d91","type":"ui_group","z":"","name":"IMU_2","tab":"20cf6904.7532d6","disp":true,"width":"10","collapse":false},{"id":"20cf6904.7532d6","type":"ui_tab","z":"","name":"Metamotion Data","icon":"dashboard","order":3,"disabled":true,"hidden":false}]